<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/" class="brand-link bg-primary text-center">
        <span class="brand-text font-weight-light">{{ 'APPLICATION_NAME' | config }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/static/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ current_user.name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                {% for menu in admin_sidebar_menu %}
                    {% if current_user.has_access(menu.target): %}
                        <li class="nav-item">
                            <a href="{{ '/admin' + menu.target }}" class="nav-link {{ 'active' if request.path == '/admin' + menu.target  }}">
                                <i class="nav-icon {{ menu.icon }}"></i>
                                <p>
                                    {{ menu.label }}
                                </p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>